<div class="col-md-6 col-md-offset-3">
	<h3>Add a new Room...</h3>
	<form name="form"
		  ng-submit="add_room()"
		  role="form">
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomName.$dirty && form.roomName.$error.required }">
			<label for="roomName">
				Room Name <strong>(Required)</strong>:
			</label>
			<input type="text"
				   name="roomName"
				   id="roomName"
				   class="form-control"
				   ng-model="vm.room.roomName"
				   required />
			<span ng-show="form.roomName.$dirty && form.roomName.$error.required"
				  class="help-block">
				Room Name is required!
			</span>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomType.$dirty && form.roomType.$error.required }">
			<label for="roomType">
				Room Type
			</label>
			<select name="roomType"
					ng-model="vm.room.roomType"
					ng-options="t for t in vm.rTypes">
				<option ng-if="!vm.room.roomType"
						value="">
					Select Room Type
				</option>
			</select>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomSubtype.$dirty && form.roomSubtype.$error.required }">
			<label for="bedType">
				Bed Type:
			</label>
			<select name="bedType"
					ng-model="vm.room.roomSubtype"
					ng-options="st for st in vm.rSubtypes[vm.room.roomType]">
				<option ng-if="!vm.room.roomType"
						value="">
					Select Room Type
				</option>
			</select>
			<div>
				<input style="display:inline"
					   type="text"
					   id="newconfname"
					   placeholder="Other..."
					   ng-model="vm.newText" />
				<button type="button"
						ng-click="vm.add_conf(vm.rSubtypes[vm.room.roomType])"
						ng-disabled="!vm.newText">
					Add New Configuration
				</button>
			</div>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomSize.$dirty && form.roomSize.$error.required }">
			<label for="roomSize">
				Room Size:
			</label>
			<select name="roomSize"
					ng-model="vm.room.roomSize"
					ng-options="s for s in rSizes">
				<option ng-if="!vm.room.roomSize"
						value="">
					Select Room Size
				</option>
			</select>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomSize.$dirty }">
			<label>
				Extras:
			</label>
			<div class="grid-container">
				<div ng-repeat="e in vm.rExtras[vm.room.roomType]">
					<input type="checkbox"
						   name="{{e}}"
						   id="{{e}}"
						   ng-model="vm.room.roomExtras[e]" />
					<label for="{{e}}">
						{{e}}
					</label>
				</div>

			</div>
			<div>
				<input style="display:inline"
					   type="text"
					   id="newextra"
					   placeholder="Other..."
					   ng-model="vm.newExtra" />
				<button type="button"
						ng-click="vm.add_extra(vm.rExtras[vm.room.roomType])"
						ng-disabled="!vm.newExtra">
					Add New Configuration
				</button>
			</div>
		</div>
		<div class="from-actions">
			<button type="submit"
					ng-disabled="form.$invalid || vm.dataLoading"
					class="btn btn-primary">
				Add Room
			</button>
			<img ng-if="vm.dataLoading"
				 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<!--<a href="#!/admin" class="btn btn-primary">Add Room</a>-->
			<a href="#!/admin">Back</a>
		</div>
	</form>
</div>