<div class="col-md-10 col-md-offset-1">
	<h2 style="text-align: center">Add a new Room</h2>
	<form name="form"
		  ng-submit="add_room()"
		  role="form">
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomName.$dirty && form.roomName.$error.required }">
			<label for="roomName">
				Room Name <strong>(Required)</strong>:
			</label>
			<input type="text"
				   name="roomName"
				   id="roomName"
				   class="form-control"
				   ng-model="vm.room.roomName"
				   required />
			<span ng-show="form.roomName.$dirty && form.roomName.$error.required"
				  class="help-block">
				Room Name is required!
			</span>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomType.$dirty && form.roomType.$error.required }">
			<label for="roomType">
				Room Type
			</label>
			<select name="roomType"
					ng-model="vm.room.roomType"
					ng-options="t for t in vm.rTypes">
				<option ng-if="!vm.room.roomType"
						value="">
					Select Room Type
				</option>
			</select>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomSubtype.$dirty && form.roomSubtype.$error.required }">
			<label for="bedType"
				   style="padding-bottom: 1em">
				Room Subtype:
			</label>
			<select name="bedType"
					ng-model="vm.room.roomSubtype"
					ng-options="st for st in vm.rSubtypes[vm.room.roomType]"
					style="margin-bottom: 1em">
				<option ng-if="!vm.room.roomType"
						value="">
					Select Room Type
				</option>
			</select>
			<input style="display:inline"
				   type="text"
				   id="newconfname"
				   placeholder="Other..."
				   ng-model="vm.newText" />
			<button type="button"
					ng-click="vm.add_conf(vm.rSubtypes[vm.room.roomType])"
					ng-disabled="!vm.newText">
				Add New Configuration
			</button>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomProp.$dirty && form.roomProp.$error.required }">
			<div style="grid-column: span 2 / auto">
				<label>
					Room Properties:
				</label>
				<div class="grid-container">
					<div class="grid-item"
						 ng-repeat="p in vm.rProps">
						<input type="checkbox"
							   name="{{p}}"
							   id="{{p}}"
							   ng-model="vm.room.roomProp" />
						<label for="{{p}}">
							{{p}}
						</label>
					</div>
				</div>
			</div>
			<input style="display:inline"
				   type="text"
				   id="newprop"
				   placeholder="Other..."
				   ng-model="vm.newProp" />
			<button type="button"
					ng-click="vm.add_prop(vm.rProps)"
					ng-disabled="!vm.newProp">
				Add New Configuration
			</button>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomSize.$dirty }">
			<div style="grid-column: span 2 / auto">
				<label>
					Extras:
				</label>
				<div class="grid-container">
					<div class="grid-item"
						 ng-repeat="e in vm.rExtras[vm.room.roomType]">
						<input type="checkbox"
							   name="{{e}}"
							   id="{{e}}"
							   ng-model="vm.room.roomExtras[e]" />
						<label for="{{e}}">
							{{e}}
						</label>
					</div>
				</div>
			</div>
			<input style="display:inline"
				   type="text"
				   id="newextra"
				   placeholder="Other..."
				   ng-model="vm.newExtra" />
			<button type="button"
					ng-click="vm.add_extra(vm.rExtras[vm.room.roomType])"
					ng-disabled="!vm.newExtra">
				Add New Configuration
			</button>
		</div>
		<div class="form-group"
			 ng-class="{ 'has-error': form.roomPrice.$dirty && form.roomPrice.$error.required }">
			<label for="roomPrice">
				Price per night (Euro):
			</label>
			<input type="number"
				   name="roomPrice"
				   id="roomPrice"
				   class="form-control"
				   ng-model="vm.room.roomPrice"
				   required />
		</div>
		<div class="from-actions" style="text-align: center; margin-bottom: 1em">
			<button type="submit"
					ng-disabled="form.$invalid || vm.dataLoading"
					class="btn btn-primary">
				Add Room
			</button>
			<img ng-if="vm.dataLoading"
				 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<!--<a href="#!/admin" class="btn btn-primary">Add Room</a>-->

			<a class="btn btn-primary" href="#!/admin">Back</a>
		</div>
	</form>
</div>