body {
	background-image: url("stuff-and-things-random-things.jpg");
	background-repeat: repeat;
	opacity: 0.8;
	background-color: #cccccc;
	/* background-image: url("angularjs.PNG"); */
}

.topBarElement {
	padding-right: 25px;
	font-size: 25px;
	/*float: right;*/
}

#topBar {
	height: 40px;
	border: groove 0px;
	border-radius: 15px;
	background-color: lightsteelblue;
}

.container {
	background-color: lightsteelblue;
	border: groove 5px;
	border-radius: 5px;
	margin-top: 5.9em;
	/* opacity: 0.6; */
}

.jumbotron {
	background-image: inherit;
	background-repeat: no-repeat;
}

.grid-container {
	padding: 1em;
	display: grid;
	grid-template-columns: 33% 34% 33%;
}

	.grid-container label {
		overflow: hidden;
		margin: 4px 0 0 0;
	}

.panel-body {
	border-top: solid 1px #ddd;
}

.form-group {
	border-top: solid 1px #ddd;
	padding-top: 1em;
	display: grid;
	grid-template-columns: 50% 50%;
}

.form-group > * {
	margin: 3px;
}
