body {
    background-image: url("stuff-and-things-random-things.jpg");
    background-repeat: repeat;
    opacity: 0.8;
    background-color: #cccccc;
    /* background-image: url("angularjs.PNG"); */
}

.topBarElement {
    padding-right: 25px;
    font-size: 25px;
}

#topBar {
	height: 40px;
    border: groove 0px;
    border-radius: 15px;
	background-color: lightsteelblue;
}

.container {
    background-color: lightsteelblue;
    border: groove 5px;
    border-radius: 5px;
    margin-top: 5.9em;
    /* opacity: 0.6; */
}

.jumbotron {
    background-image: inherit;
    background-repeat: no-repeat;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

	.active, .collapsible:hover {
		background-color: #555;
	}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}
