body {
    background-image: url("stuff-and-things-random-things.jpg");
    background-repeat: repeat;
    opacity: 0.8;
    background-color: #cccccc;
    /* background-image: url("angularjs.PNG"); */
}

.topBarElement {
    padding-right: 25px;
    font-size: 25px;
}

#topBar {
    border: groove 5px;
    border-radius: 5px;
}

.container {
    background-color: lightsteelblue;
    border: groove 5px;
    border-radius: 5px;
    margin-top: 5.9em;
    /* opacity: 0.6; */
}

.jumbotron {
    background-image: inherit;
    background-repeat: no-repeat;
}
