<div class="col-md-10 col-md-offset-1">
    <div id="container">
        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#properties">Properties</a>
                    </h4>
                </div>
                <div id="properties" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#services">Services</a>
                                    </h4>
                                </div>
                                <div id="services" class="panel-collapse collapse">
                                    <div class="panel-body">Services 1</div>
                                    <div class="panel-body">Services 2</div>
                                    <div class="panel-body">Services 3</div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-target="#languagesSpoken">Languages Spoken</a>
                                    </h4>
                                </div>
                                <div id="languagesSpoken" class="panel-collapse collapse">
                                    <div class="panel-body">Language 1</div>
                                    <div class="panel-body">Language 2</div>
                                    <div class="panel-body">Language 3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#otherDetails">Other Details</a>
                    </h4>
                </div>
                <div id="otherDetails" class="panel-collapse collapse">
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>



        </div>
        <div id="filter">
            <p>
                Start Date:<input type="date" ng-model="vm.filterStartDate" value="{{ date | date: 'yyyy/MM/dd' }}" />
            </p>
            <p>
                End Date:<input type="date" ng-model="vm.filterEndDate" value="{{ date | date: 'yyyy/MM/dd' }}" />
            </p>
            <p>
                <button type="button" ng-click="vm.filter()">Search</button>
            </p>
        </div>
        <div id="HotelRooms">

        </div>

    </div>

    <!--room END-->
    
    <!--room END-->
</div>
