<div class="col-md-10 col-md-offset-1">
	<div id="container">
		<div style="padding: 0.5em 0 1em 0; font-size: 22px">
			<input type="month"
				   ng-model="vm.filterDate"
				   value="new Date()" />
			<button type="button"
					ng-click="vm.getBookings()">
				Get Bookings
			</button>
		</div>

		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#myBookings">My Bookings</a>
					</h4>
				</div>
				<div id="myBookings" class="panel-collapse collapse in">
					<div class="panel-body" ng-repeat="booking in vm.myBookings">
						Room <strong>{{booking.id}}</strong>, reserved by <strong>{{booking.user}}</strong>.
						<div style="border-top: dashed 1px #ddd; padding-top: 4px; margin-top: 4px">
							<!--<input type="date" ng-model="booking.startDate" /> - <input type="date" ng-model="booking.endDate" />-->
							Reserved between
							<label ng-model="booking.startDate">
								{{booking.startDate.getFullYear()}}-{{vm.months[booking.startDate.getMonth()]}}-{{booking.startDate.getDate()}}
							</label> and <label ng-model="booking.endDate">
								{{booking.endDate.getFullYear()}}-{{vm.months[booking.endDate.getMonth()]}}-{{booking.endDate.getDate()}}
							</label>
						</div>
						<!--<div>
							<button type="button" ng-click="vm.changeBooking(booking)">
								Change Booking
							</button>
						</div>-->
						<div ng-show="booking.status === 'Approved'"
							 style="color: green">
							This Booking has been approved. <a ng-click="vm.changeBookingStatus(booking, 0)">Withdraw Approval</a>
						</div>

						<div ng-show="booking.status === 'Pending'">
							<div style="padding-bottom: 4px">This Booking is awaiting approval.</div>
							<a ng-click="vm.changeBookingStatus(booking, 1)"
							   class="btn btn-primary">Approve</a>
							<a ng-click="vm.changeBookingStatus(booking, -1)"
							   class="btn btn-primary">Reject</a>
						</div>

						<div ng-show="booking.status === 'Rejected'"
							 style="color: darkred">
							This Booking has been rejected. <a ng-click="vm.changeBookingStatus(booking, 0)">Withdraw Rejection</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#othersBookings">Others Bookings</a>
					</h4>
				</div>
				<div id="othersBookings" class="panel-collapse collapse in">
					<div class="panel-body" ng-repeat="booking in vm.othersBookings">
						{{booking.id}}:
						<p> <input type="date" ng-model="booking.startDate" disabled />-<input type="date" ng-model="booking.endDate" disabled /></p>


					</div>
				</div>
			</div>
		</div>-->
	</div>
	<div style="text-align:center">
		<a class="btn btn-primary" href="#!/admin">Back</a>
	</div>
</div>
