<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Hotel App DEMO, For c# EXAM</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!--<link href="app-content/app.css" rel="stylesheet" />-->
    <link href="style/index.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div style="" class="jumbotron">
        <!--<div id="topBar" class="text-right" style="border:">
            <a class="topBarElement" href='#!/login'>Login</a>
            <a class="topBarElement" href='#!/register' ng-click="register">Signup</a>
        </div>-->

        <div id="topBar" class="text-right" ng-controller="TopBarController" ng-show="hastoken()">
            <span class="welcomeMessage">Hello, te szarjancsi: <span class="name_color" ng-bind=" accountService.GetUsername()"> </span>!</span>
            <span class="statusMessage">Status: <span class="name_color" ng-bind="accountService.GetStatus()"> </span>!</span>
            <a class="topBarElement" href='#!/login' ng-click="logout()">Log out</a>
        </div>

        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view id="ngView"></div>
            </div>
        </div>
    </div>
    <div id="creditBar" class="credits text-center" border="dotted">
        <p>
            <a href="http://jasonwatmore.com">Copyright&copy;</a>
        </p>
        <p style="block:">
            <a href="http://facebook.com/portik.hunor">a</a>
            <a href="http://facebook.com/portik.hunor">& Portik Hunor</a>
        </p>
    </div>

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>

    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/account.service.js"></script>
    <script src="app-services/top.bar.controller.js"></script>
    <script src="app-services/flash.service.js"></script>


    <script src="home/home.controller.js"></script>

    <script src="hotel/hotel.controller.js"></script>
    <script src="hotel/hotel.view.html"></script>

    <script src="login/login.controller.js"></script>
    <script src="login/login.view.html"></script>
    <script src="register/register.controller.js"></script>
    <script src="register/register.view.html"></script>
</body>
</html>