<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Hotel App DEMO, For c# EXAM</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <!--<link href="app-content/app.css" rel="stylesheet" />-->
    <link href="style/index.css" rel="stylesheet" />



    <!--<script src="https://cdn.rawgit.com/bradberger/angular-material-calendar/master/dist/angular-material-calendar.js">
</script>-->


    
</head>
<body>

    <div style="" class="jumbotron">
        <!--<div id="topBar" class="text-right" style="border:">
            <a class="topBarElement" href='#!/login'>Login</a>
            <a class="topBarElement" href='#!/register' ng-click="register">Signup</a>
        </div>-->

        <calendar-md flex layout layout-fill
                     calendar-direction="direction"
                     on-prev-month="prevMonth"
                     on-next-month="nextMonth"
                     on-day-click="dayClick"
                     title-format="'MMMM y'"
                     ng-model='selectedDate'
                     week-starts-on="firstDayOfWeek"
                     data-start-month="8"
                     data-start-year="2014"
                     tooltips="tooltips"
                     day-format="dayFormat"
                     day-label-format="'EEE'"
                     day-label-tooltip-format="'EEEE'"
                     day-tooltip-format="'fullDate'"
                     day-content="setDayContent"
                     disable-future-selection="false"></calendar-md>

        <div id="topBar" class="text-right" ng-controller="TopBarController" ng-show="hastoken()">
            <span class="welcomeMessage">Hello, te szarjancsi: <span class="name_color" ng-bind=" accountService.GetUsername()"> </span>!</span>
            <span class="statusMessage">Status: <span class="name_color" ng-bind="accountService.GetStatus()"> </span>!</span>
            <a class="topBarElement" href='#!/login' ng-click="logout()">Log out</a>
        </div>

        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div ng-view id="ngView"></div>
            </div>
        </div>
    </div>
    <div id="creditBar" class="credits text-center" border="dotted">
        <p>
            <a href="http://jasonwatmore.com">Copyright&copy;</a>
        </p>
        <p style="block:">
            <a href="http://facebook.com/portik.hunor">a</a>
            <a href="http://facebook.com/portik.hunor">& Portik Hunor</a>
        </p>
    </div>

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>

    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/account.service.js"></script>
    <script src="app-services/top.bar.controller.js"></script>
    <script src="app-services/flash.service.js"></script>

    <script src="home/home.controller.js"></script>
    <script src="login/login.controller.js"></script>
    <script src="login/login.view.html"></script>
    <script src="register/register.controller.js"></script>
    <script src="register/register.view.html"></script>


    <script src="https://cdn.rawgit.com/bradberger/angular-material-calendar/master/dist/angular-material-calendar.js">
    </script>
    <h3>IGENGIGEN</h3>
    <script>
        angular.module("materialExample", ["ngMaterial", "materialCalendar"]);

        angular.module("materialExample").controller("calendarCtrl", function ($scope, $filter, $http, $q) {

            $scope.dayFormat = "d";

            // To select a single date, make sure the ngModel is not an array.
            $scope.selectedDate = null;

            // If you want multi-date select, initialize it as an array.
            $scope.selectedDate = [];

            $scope.firstDayOfWeek = 0; // First day of the week, 0 for Sunday, 1 for Monday, etc.
            $scope.setDirection = function (direction) {
                $scope.direction = direction;
                $scope.dayFormat = direction === "vertical" ? "EEEE, MMMM d" : "d";
            };

            $scope.dayClick = function (date) {
                $scope.msg = "You clicked " + $filter("date")(date, "MMM d, y h:mm:ss a Z");
            };

            $scope.prevMonth = function (data) {
                $scope.msg = "You clicked (prev) month " + data.month + ", " + data.year;
            };

            $scope.nextMonth = function (data) {
                $scope.msg = "You clicked (next) month " + data.month + ", " + data.year;
            };

            $scope.tooltips = true;
            $scope.setDayContent = function (date) {

                // You would inject any HTML you wanted for
                // that particular date here.
                return "<p></p>";

                // You could also use an $http function directly.
                return $http.get("/some/external/api");

                // You could also use a promise.
                var deferred = $q.defer();
                $timeout(function () {
                    deferred.resolve("<p></p>");
                }, 1000);
                return deferred.promise;

            };

        });
    </script>
    <script>
        angular.module("materialExample", ["ngMaterial", "materialCalendar"]);

        angular.module("materialExample").controller("calendarCtrl", function ($scope, $filter, $http, $q) {

            $scope.dayFormat = "d";

            // To select a single date, make sure the ngModel is not an array.
            $scope.selectedDate = null;

            // If you want multi-date select, initialize it as an array.
            $scope.selectedDate = [];

            $scope.firstDayOfWeek = 0; // First day of the week, 0 for Sunday, 1 for Monday, etc.
            $scope.setDirection = function (direction) {
                $scope.direction = direction;
                $scope.dayFormat = direction === "vertical" ? "EEEE, MMMM d" : "d";
            };

            $scope.dayClick = function (date) {
                $scope.msg = "You clicked " + $filter("date")(date, "MMM d, y h:mm:ss a Z");
            };

            $scope.prevMonth = function (data) {
                $scope.msg = "You clicked (prev) month " + data.month + ", " + data.year;
            };

            $scope.nextMonth = function (data) {
                $scope.msg = "You clicked (next) month " + data.month + ", " + data.year;
            };

            $scope.tooltips = true;
            $scope.setDayContent = function (date) {

                // You would inject any HTML you wanted for
                // that particular date here.
                return "<p></p>";

                // You could also use an $http function directly.
                return $http.get("/some/external/api");

                // You could also use a promise.
                var deferred = $q.defer();
                $timeout(function () {
                    deferred.resolve("<p></p>");
                }, 1000);
                return deferred.promise;

            };

        });
    </script>
</body>
</html>